!!!
%html
  %head
    %title Snake
    - SCRIPTS.each do |src|
      %script{ type: 'text/javascript', src: src }
    :css
      body, html { width: 100%; height: 100%; }
      #container { padding: 20px; }
      #canvas {
        display: block;
        margin: 0px auto;
        border: 1px solid black;
      }
  %body
    #container
      %canvas#canvas{ width: 800, height: 600 }
